<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">Contact Details</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li><strong>{{ site.title }}</strong></li>
          <li>{{ site.address }}</li>
          <li>{{ site.contact_number }}</li>
          <li>Email: <a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="contact-list">
          <li><strong>{{ site.title_nepali }}</strong></li>
          <li>{{ site.address_nepali }}</li>
          <li>{{ site.contact_number_nepali }}</li>
        </ul>
      </div>      
      
    </div>

  </div>

</footer>
